.main_about {
    box-sizing: border-box;
    padding: 80px;
    background-image: url('../assets/3\ 4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main_about h2{
    display: flex;
    z-index: 95;
    justify-content: center;
    position: relative;
}

.main_about p{
    font-size: 25px;
    margin: 30px auto;
    text-align: center;
    line-height: 28px;
    background-color:  rgba(216, 218, 218, 0.68);
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;

}

.main_about h2:after{
    content: '';
    width: 80px;
    position: relative;
    bottom: -12px;
    z-index: -1;
    right: 50px;
    height: 16px;
    background-color: cyan;
}

.social__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
}

.social__links a{
    text-decoration: none;
}

@media screen and (max-width: 1250px) {
    .social__links {
        padding: 0 150px;
    }
}

@media screen and (max-width: 768px) {
    .main_about {
        padding: 20px;
    }

    .main_about p{
        font-size: 18px;
    }

    .social__links {
        margin-top: 20px;
        padding: 0px;
    }

    .single_link {
        height: 90px !important;
        width: 700px !important;
    }

    .icon {
        width: 90px !important;
        height: 90px !important;
        border: 10px solid black !important; 
    }

    .text {
        display: none;
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 1000px) {

    .social__links {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .single_link {
        margin-top: 50px;
        width: 500px !important;
        max-width: 100% !important;
    }
}

.single_link {
    width: 250px;
    height: 250px;
    text-align: center;
    /* border: 2px solid grey; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: #ff000096;
    margin: 30px 10px;
    position: relative;
}

.single_link:nth-of-type(2) {
    background-color:  rgba(37, 211, 101, 0.59);
}

.single_link:nth-of-type(3) {
    background-color: rgba(221, 42, 123, 0.59);
}

.single_link:nth-of-type(4) {
    background-color:  #f6fa1996;
}

.icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* background-color: #ff0000; */
    border: 12px solid black;
    transform: translateY(-20%);
    font-size: 50px;
}

.single_link .icon:nth-of-type(2) {
    background-color: #25d366;
}

.icon:nth-of-type(3) {
    background-color:  #dd2a7b;
}

.icon:nth-of-type(4) {
    background-color: #f6fa19;
}


.text {
    font-size: 25px;
    color: white;
    font-weight: bold;
    justify-self: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.single_link {

}